.root {
	-fx-background-image: url( "./img/LOGIN_BACK.jpg" );
	-fx-font-smoothing-type: lcd;
}

.button {
}

.lbl_error {
	-fx-fill: darkred !important;
	-fx-font-weight: bolder;
}

.grid {
	-fx-background-color: rgba( 42, 59, 76, 0.6 );
	/*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);/**/
	-fx-background-radius: 5.0;
	-fx-padding: 30px;
}

#login_lbl {
	-fx-fill: white !important;
	-fx-font-weight: bolder;
	-fx-font-size: 14px;
}
